@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --tomato-color: tomato;
  --header-footer-color: #7373e0;
}

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 80%;
  margin: auto;
  background-color: whitesmoke;
  height: 100%;
  padding: 1rem;
}

.nav-bar-list {
  list-style-type: none;
  display: inline;
}

nav {
  background-color: tomato;
  height: 10vh;
  border-radius: 5px;
  padding-top: 0.8rem;
}

.link {
  color: azure;
  text-decoration: none;
  margin: 0.5rem;
}

.non-bullet {
  list-style: none;
}

button {
  margin-top: 0.8rem;
}

.sub-grp {
  margin-top: 0.8rem;
}

.social-media {
  list-style-type: none;
  display: inline;
  margin-left: 30%;
}

li a {
  text-decoration: none;
}

#footer-text {
  text-align: center;
  color: var(--header-footer-color);
}

footer {
  width: 80%;
  margin: auto;
  background-color: var(--tomato-color);
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

#footer-text {
  text-align: center;
  color: whitesmoke;
}

.container {
  width: 80%;
  margin: auto;
  background-color: whitesmoke;
  padding: 1rem;
  height: 80vh;
  border-radius: 10px;
  text-align: center;
}
